<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<div class="author-box">
    <div class="author-box">
        <img src="/assets/avatar.jpg" class="author-avatar" alt="Avatar"/>
        {{ site.description }}
    </div>

    <div class="social_links">
        {% for link in site.dash.social_links %}
        <a class="color-{{ link.color }}-hover" href="{{ link.url }}"><i class="iconify-inline" data-icon="{{ link.icon }}"></i></a>
        {% endfor %}
    </div>
</div>

