---
layout: default
---

{% unless site.dash.show_author == false %}
  {% include author.html %}
{% endunless %}

<div class="post">

	<h1 class="post-title">{{ page.title }}</h1>

	<span>
		{% for tag in page.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<a class="tag" href="/bar/tags.html#{{ tag_name }}" style="font-size:15px"><nobr>{{ tag_name }}</nobr></a>
		{% endfor %}
    </span>

	<div class="post-date">Published on {{ page.date | date_to_string }}</div>
	{% if page.description != null %}
		<div class="post-description">{{ page.description }}</div>
	{% endif %}
	{{ content }}

</div>

{% if site.dash.giscus.repo != null %}
	<div class="comments">
		{% include giscus.html %}
	</div>
{% endif %}

<br />
